ion-content{
  display: flex;
  align-items: center;
}

.header{
    margin-top: 10px;
    display: flex;
    align-items: center;
    ion-icon{
        margin-top: 8px;
        font-size: 24px;   
    }
    h2{
        font-family: 'Poppins-Bold';
        margin-left: 20px; 
    }
}
ion-searchbar.custom{
  margin-top: 20px;
 --border-radius:8px;
 
}
.current-location{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  ion-button{
    --border-radius: 8px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-start : 20px;
    --padding-end : 20px;
  }
  ion-icon{
    font-size: 24px;
  }
 
}