<ion-buttons slot="start">
  <ion-back-button defaultHref="/tabs/order"></ion-back-button>
</ion-buttons>
<ion-content>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-title>Set Your Pick Up Location</ion-title>
      <ion-col size="12">
        <ion-item>
          <ion-input
            [(ngModel)]="location"
            (ngModelChange)="handleLocationChange($event)"
            [placeholder]="address ? address : 'Search For Building,area or street'"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="handleGetCurrentLocation()">
          <ion-icon name="location-outline" slot="start"></ion-icon>
          Use my current Location
        </ion-button>
      </ion-col>
    </ion-row>
    <form [formGroup]="myForm">
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-input
              label="Address"
              label-placement="floating"
              formControlName="address"
              placeholder="Enter Address"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-input
              label="Landmark"
              label-placement="floating"
              formControlName="landmark"
              placeholder="Enter Landmark(Optional)"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-input
              label="Sender Name"
              label-placement="floating"
              formControlName="senderName"
              placeholder="Enter Sender's Name"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-input
              label="Sender MobileNumber"
              label-placement="floating"
              formControlName="senderMobileNumber"
              placeholder="Enter Sender Mobile Number"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="handleNext()"> Next </ion-fab-button>
  </ion-fab>
</ion-content>
