.header{
    margin-top: 10px;
    display: flex;
    align-items: center;
    ion-icon{
        margin-top: 8px;
        font-size: 24px;
        
    }
    h1{
        font-family: 'Poppins-Bold';
        margin-left: 20px;
       
    }
}
.search-bar{
    border-width: 0.5px;
    border-color: black;
    ion-searchbar {
        --background: #fff;
        --border-radius:8px
        --border-radius: 8px;
        
    }
}
.current-location{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  ion-icon{
    font-size: 24px;
  }
}