<ion-content>
  <video autoplay loop muted>
    <source src="assets\Videos\backgroundvideo.mp4" type="video/mp4" />
  </video>
  <div class="overlay">
  <div class="content">
    <div class="logo-container">
      <ion-img src="assets\Images\Logo.png" class="logo"></ion-img>
      <h1 class="title">XYDEL</h1>
    </div>
    <div>
    <p class="quote">Get your forgotten things delivered from anywhere!</p></div>
    <div class="button">
    <ion-button   (click)="getStarted()">
      Get Started
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>
</div>
  </div>
</ion-content>
