
<ion-content class="ion-padding">
  <div class="title">
    <div><ion-icon name="card-outline"></ion-icon></div>
    <div><ion-title>XYDEL Wallet</ion-title></div>
    <div class="help"><ion-icon name="help-circle-outline"></ion-icon></div>
  </div>
  <div class="balance-container">
    <ion-text color="primary" class="balance-text">Available Balance</ion-text>
    <ion-text  color= "primary" class="balance-amount">₹100.00</ion-text>
  </div>
 <div>
    <ion-item lines="none"  detail='true' button> 
      <ion-icon name="wallet"></ion-icon>
      <div class="item">  <ion-label> XYDEL Money</ion-label>  </div>
    </ion-item>
    <ion-item lines="none"  detail='true' button (click)="viewTransactions()">
      <ion-icon name="list"></ion-icon>
      <div class="item"><ion-label > View all Transactions</ion-label>  </div>
    </ion-item>
  </div>
  <div >
  <ion-button  color="primary" (click)="addMoney()">Add Money</ion-button>
</div>
</ion-content>
