.profile-card {
  margin: 20px;
}

.profile-avatar {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.profile-avatar img {
  border-radius: 60px;
  border: 2px solid #000040;
}

.edit-button {
  margin: 15px;
}

.options-list {
  margin: 0 20px;
}
