<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs"></ion-back-button>
      </ion-buttons>
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="profile-card">
    <ion-card-content>
      <ion-avatar class="profile-avatar">
        <img [src]="image ? image : 'assets/Images/profile.jpg'"/>
      </ion-avatar>
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>{{ firstName }} {{ lastName }}</h2>
            <p>{{ email }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" class="edit-button" (click)="navigateToEditProfile()">
    <ion-icon name="pencil"></ion-icon>
    Edit Profile
  </ion-button>

  <ion-list class="options-list">
    <ion-item (click)="navigateToSettings()">
      <ion-icon name="settings" slot="start"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-item>
    <ion-item (click)="navigateToInformation()">
      <ion-icon name="information-circle" slot="start"></ion-icon>
      <ion-label>Information</ion-label>
    </ion-item>
    <ion-item (click)="handleLogout()">
      <ion-icon name="log-out" slot="start" color="danger"></ion-icon>
      <ion-label color="danger">Logout</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

