ion-content {
  display: flex;
  align-items: center;
}
.top-container {
  display: flex;

  .title {
    font-family: "Poppins-Bold";
    margin-left: 90px;
  }
  ion-icon {
    font-size: 24px;
  }
}
.profile-card {
  margin: 30px;

  .profile-avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  .profile-avatar img {
    border-radius: 60px;
    border: 1px solid #000040;
  }
  ion-label {
    text-align: center;
    font-family: "Poppins-Regular";
  }
  ion-button {
    margin-left: 85px;
    --border-radius: 8px;
    --padding-top:0px;
    --padding-bottom: 0px;
    --padding-end: 15px;
    --padding-start: 15px;
    ion-icon{
      margin-bottom:  8px;
    }
  }
}

.bottom-container {
  margin-top: 20px;

  ion-item {
    margin-bottom: 20px;
  }
}
