<ion-content>
  <div class="top-container">
    <div class="container">
      <div class="location-icon">
        <ion-icon slot="start" name="location-outline"></ion-icon>
      </div>
      <div class="address-text">
        <ng-container *ngIf="address; else loadingTemplate">
          <p>{{ address }}</p>
        </ng-container>
        <ng-template #loadingTemplate><p>Locating...</p></ng-template>
      </div>
      <div class="profile-icon">
        <ion-buttons slot="end">
          <ion-button (click)="navigateToUserProfile()">
            <ion-icon name="person-circle-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </div>
    <div class="img-slider">
      <swiper-container [loop]="true" [autoplay]="{ delay: 3000 }">
        <swiper-slide *ngFor="let item of carouselItems">
          <ion-row class="img-item">
            <ion-col>
              <img [src]="item.image" alt="Carousel Image" />
            </ion-col>
            <ion-col>
              <h3>{{ item.title }}</h3>
              <p>{{ item.description }}</p>
            </ion-col>
          </ion-row>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
  <div class="coupon-slider">
    <swiper-container [loop]="true" [autoplay]="{ delay: 3000 }">
      <swiper-slide *ngFor="let item of couponsData">
        <ion-col class="coupon-item">
          <ion-icon [name]="item.iconName" class="icon"></ion-icon>
          <ion-row >
            <ion-label class="coupon-text">{{ item.text }}</ion-label>
            <ion-label class="text">USE CODE {{item.code}} AT CHECKOUT</ion-label>
          </ion-row>
        </ion-col>
      </swiper-slide>
    </swiper-container>
  </div>
  <div class="bottom-container">
    <ion-row>
      <ion-label class="heading">Pick up or send Anything</ion-label>
      <ion-label class="sub-heading">Sit back,relax and let XYDEL do the rest</ion-label>
      <ion-button (click)="navigateToOrder()" color="primary">
        Set pick up & drop location
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-button>
    </ion-row>
  </div>
</ion-content>
