.top-container {
  background: linear-gradient(#f4f5f8, #4786ef);
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;

  .container {
    display: flex;
    justify-content: space-between;
  }
  .location-icon {
    color: black;
    font-size: 20px;
    position: relative;
    top: 15px;
  }
  .address-text p {
    color: black;
    margin-right: 40px;
    font-size: 12px;
    font-family: "Poppins-Bold";
  }
  .profile-icon {
    color: black;
    font-size: 20px;
  }
  .img-slider {
    h3 {
      color: black;
      font-size: 15px;
      font-family: "Poppins-Bold";
    }
    p {
      color: black;
      font-size: 12px;
      font-family: "Poppins-Regular";
    }
  }
}
.coupon-slider {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 18px;
  border: 0.5px solid lightgrey;

  .coupon-item {
    display: flex;
    align-items: center;
    padding: 10px;

    .icon {
      font-size: 60px;
      color: #000040;
    }

    .coupon-text {
      margin-left: 20px;
      font-size: 20px;
      font-family: "Poppins-Bold";
    }
    .text {
      color: grey;
      margin-left: 20px;
      font-family: "Poppins-Regular";
      font-size: 13px;
    }
  }
}

.bottom-container {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 18px;
  padding: 20px;
  border: 0.5px solid lightgrey;

  .heading {
    font-size: 20px;
    font-family: "Poppins-Bold";
  }
  .sub-heading {
    font-size: 13px;
    font-family: "Poppins-Regular";
    color: grey;
  }
  ion-button {
    margin-top: 20px;
    --padding-start: 20px;
    --padding-end: 60px;
    --padding-top: 15px;
    --padding-bottom: 15px;
    font-family: "Poppins-Regular";
    --border-radius: 8px;
    ion-icon {
      position: absolute;
      right: -40px;
    }
  }
}
