.ion-content{
  display: flex;
  align-items: center;
}
.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.location-icon {
 font-size: 20px;
} 

.profile-icon {
 font-size: 20px;
}

.address-text {
  margin-right: 50px;
  font-size: 12px;
  font-family: 'Poppins-Bold';
}

swiper-container {
  width: 100%;
  height: 100%;
}
 
swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.coupon-item {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.gift-icon {
  font-size: 25px;
  margin-right: 10px;
  color: #000040;
}

.coupon-text {
  color: black;
  font-size: 14px;
  text-align: center;
}

.bottom-bar {
  position: relative;
  background-color: white;
  border-radius: 8px;
  padding: 16px 24px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.bottom-overlay {
  color: black;
  font-size: 15px;
  font-family: 'Poppins-Regular';
  margin-bottom: 8px;
  text-align: left;
}

.overlay-button {
  padding: 12px 20px;
  background-color: #000040;
  color: #ffffff;
  font-size: 14px;
  text-align: left;
  font-family: 'Poppins-Regular';
}

.arrow-icon {
  font-size: 16px;
  color: #ffffff;
}
