
<ion-content [fullscreen]="true" scrollY="false">
  <div class="top-container">
    <div class="location-icon" (click)="handleLocationIconClick()">
      <ion-icon name="location-outline"></ion-icon>
    </div>
    <div  class="profile-icon">
      <ion-buttons slot="end">
        <ion-button (click)="navigateToUserProfile()">
          <ion-icon name="person-circle-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
   
    <div class="address-container">
      <p class="address-text">{{ address }}</p>
    </div>
  </div>

  <div class="carousel-container">
    <app-carousel></app-carousel>
  </div>

  <div class="coupon-bar">
    <app-coupon-slider></app-coupon-slider>
  </div>

  <div class="bottom-bar">
    <div class="bottom-overlay">
      <p class="overlay-text">Pick up or send anything</p>
      <ion-button (click)="navigateToOrder()" expand="full" fill="solid" color="primary">
        Set pick up & drop location
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-button>
    </div>
  </div>

  <ion-footer>
    <app-footer></app-footer>
  </ion-footer>
</ion-content>
