<ion-content>
  <div class="container">
    <div class="header">
      <ion-buttons slot="start" (click)="handleBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-buttons>
      <h2>Set Drop location</h2>
    </div>
    <div class="search-bar">
      <ion-searchbar placeholder="Search for building area or street"></ion-searchbar>
    </div>
    <div class="current-location">
      <ion-button>
      <ion-icon class="location" name="navigate" slot="start"></ion-icon>
      <h4>Use Current Location </h4>
      <ion-icon class="forward" name="arrow-forward" slot="end"></ion-icon>
      </ion-button>
    </div>
   
  </div>
</ion-content>