ion-content{
  ion-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
  }
  ion-item{
    margin-top:30px;
    --border-color: #000040;
   
  }
  
  ion-fab-button {
    --background: #000040;
  }
  ion-icon {
    margin-right: 8px;
  }
  ion-button{
    margin-left: 35px;
    --border-radius: 8px;
    --padding-start:30px;
    --padding-end:30px;
  }
}