<ion-content>
    <div class="header">
      <ion-buttons slot="start" (click)="handleBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-buttons>
      <h2>Set Drop location</h2>
    </div>
    <div>
      <ion-searchbar  placeholder="Search for building area or street"></ion-searchbar>
    </div>
    <div class="current-location">
      <ion-button>
      <ion-icon  name="location-outline" slot="start"></ion-icon>
      Use Current Location 
      <ion-icon  name="arrow-forward" slot="end"></ion-icon>
      </ion-button>
    </div>
</ion-content>