ion-content {
    align-items: center;
  }
  
  ion-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 100px;
  }
  
  ion-fab-button {
    --background: #000040;
  }
  
  ion-icon {
    margin-right: 8px;
  }
  ion-button{
    margin-left: 35px;
    --border-radius: 8px;
    --padding-start:30px;
    --padding-end:30px;
  }