<ion-content class="ion-padding">
  <div class="title">
    <div><ion-icon name="bicycle-sharp"></ion-icon></div>
    <div><ion-title>Pick up or Send anything</ion-title></div>
  </div>
  <ion-list>
    <div class="pick-button">
    <ion-button
      expand="full"
      fill="solid"
      color="primary"
    >
     <div  class="icon"><ion-icon name="arrow-up" slot="start"></ion-icon></div> 
      <div class="text"> Set pick up location </div>
    </ion-button>
    
  </div>
    <div class="vertical-icon">
      <div><ion-icon name="ellipsis-vertical-outline" slot="start"></ion-icon></div>
      <div><ion-icon name="ellipsis-vertical-outline" slot="start"></ion-icon></div>
      <div><ion-icon name="ellipsis-vertical-outline" slot="start"></ion-icon></div>
    </div>
    <div class="drop-button">
      <ion-button
        expand="full"
        fill="solid"
        color="primary"
      >
       <div class="icon"><ion-icon name="arrow-down" slot="start"></ion-icon></div> 
        <div class="text"> Set drop location </div>
      </ion-button>
    </div>
  </ion-list>
  <div class="notes">
    <ion-label class="notes-heading">Things to keep in mind</ion-label>
    <div class="notes-content">
      <div class="notes-item">
        <ion-icon
          name="checkmark-circle"
          slot="start"
          color="success"
        ></ion-icon>
        <ion-label>Items should fit in the backpack.</ion-label>
      </div>
      <div class="notes-item">
        <ion-icon
          name="checkmark-circle"
          slot="start"
          color="success"
        ></ion-icon>
        <ion-label>Keep the items packed and ready for pick up.</ion-label>
      </div>
      <div class="notes-item">
        <ion-icon name="close-circle" slot="start" color="danger"></ion-icon>
        <ion-label>Avoid sending illegal or fragile items.</ion-label>
      </div>
    </div>
  </div>
</ion-content>
