<ion-content>
  <div class="container">
    <div>
      <ion-buttons slot="start" (click)="handleBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-buttons>
    </div>
    <div class="title"><ion-title>Edit Profile</ion-title></div>
  </div>
  <div class="image-container">
    <ion-avatar class="profile-avatar">
      <img *ngIf="userForm.get('userProfileDoc')?.value" [src]="'data:image/jpeg;base64,' + userForm.get('userProfileDoc')?.value" />
      <img *ngIf="!userForm.get('userProfileDoc')?.value" src="assets/Images/profile.jpg" />
      <ion-button class="imageChange" fill="clear" (click)="selectImage()">
        <ion-icon name="camera" size="medium" color="primary"></ion-icon>
      </ion-button>
    </ion-avatar>
  </div>
  <div class="main-container">
    <form [formGroup]="userForm">
      <ion-list>
        <div>
          <ion-item>
            <ion-icon name="person" color="primary" slot="start"></ion-icon>
            <ion-input
              label="First Name"
              labelPlacement="floating"
              placeholder="First Name"
              formControlName="firstName"
            ></ion-input>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-icon name="person" color="primary" slot="start"></ion-icon>
            <ion-input
              label="Last Name"
              labelPlacement="floating"
              placeholder="Last Name"
              formControlName="lastName"
            ></ion-input>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-icon name="mail" color="primary" slot="start"></ion-icon>
            <ion-input
              placeholder="Email"
              label="Email"
              labelPlacement="floating"
              formControlName="emailId"
              type="email"
            ></ion-input>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-icon name="call" color="primary" slot="start"></ion-icon>
            <ion-input
              label="Mobile Number"
              labelPlacement="floating"
              placeholder="Mobile Number"
              formControlName="mobileNumber"
              type="tel"
              maxlength="10"
            ></ion-input>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-icon name="call" color="primary" slot="start"></ion-icon>
            <ion-input
              label="Alternate Mobile Number"
              labelPlacement="floating"
              placeholder="Alternate Mobile Number"
              formControlName="alternateMobileNumber"
              type="tel"
              maxlength="10"
            ></ion-input>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-icon name="people" color="primary" slot="start"></ion-icon>
            <ion-select formControlName="gender" label="Gender" labelPlacement="floating">
              <ion-select-option
                placeholder="Select Gender"
                label="select"
                labelPlacement="floating"
                *ngFor="let gender of genderData"
                [value]="gender.value"
                >{{ gender.value }}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </div>
      </ion-list>
      <ion-button
        (click)="logData()"
        color="primary"
        class="topMargin"
        [disabled]="!userForm.valid"
      >
        Save
      </ion-button>
    </form>
  </div>
</ion-content>
