ion-content {
  display: flex;
  text-align: center;
}
.container {
  display: flex;
  padding: 20px;
  
  ion-icon {
    font-size: 28px;
  }
  .title {
    font-family: "Poppins-Bold";
    margin-left: 80px;
  }
}
.image-container {
  ion-icon {
    font-size: 28px;
  }
  .profile-avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  .profile-avatar img {
    border-radius: 60px;
    border: 1px solid #000040;
  }
  .imageChange {
    position: relative;
    bottom: 35px;
    left: 20px;
  }
}

.main-container {
  padding: 50px 20px;
  ion-item {
    margin-bottom: 10px;
    ion-icon {
      margin-right: 13px;
    }
  }
  ion-button {
    margin-top: 20px;
    --border-radius: 8px;
    --padding-start: 36px;
    --padding-end: 36px;
  }
}
