<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title class="profileText">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="imageContainer">
      <ion-avatar class="profile-avatar">
        <img [src]="image ? image : 'assets/Images/profile.jpg'"/>
        <ion-button class ="imageChange" fill="clear" (click)="selectImage()">
          <ion-icon name="camera" size="medium" color="primary"></ion-icon>
        </ion-button>
      </ion-avatar>
    </div>
    <div class="mainContainer">
      <ion-grid class="topMargin">
        <ion-row>
          <ion-col class="gridWidth">
            <ion-input
            name="firstName"
            label="firstName"
            label-placement="floating"
            fill="outline"
            [(ngModel)]="userDetails['firstName']"
          ></ion-input>
        </ion-col>
        <ion-col class="gridWidth">
          <ion-input
            name="lastName"
            label="lastName"
            label-placement="floating"
            fill="outline"
            [(ngModel)]="userDetails['lastName']"
          ></ion-input>
        </ion-col>
      </ion-row>
      </ion-grid>
      <ion-grid class="topMargin">
    <ion-row>
      <ion-input
        name="email"
        label="Email"
        label-placement="floating"
        fill="outline"
        [(ngModel)]="userDetails['email']"
      ></ion-input>
    </ion-row>
    </ion-grid>
      <ion-grid class="topMargin">
        <!-- Add other fields like gender, phone, etc. here -->
      </ion-grid>
    </div>

    <ion-grid class="topMargin">
      <ion-row>
        <ion-col>
          <ion-button
            expand="full"
            (click)="logData()"
            color="primary"
            class="submitButton"
          >
            <ion-label class="submitText">Save</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

