.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
}

.profileText {
  font-size: 22px;
  color: #000040;
  font-family: "Poppins-Regular";
}

.imageContainer {
  margin-top: 45px;
}

.profile-avatar {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.profile-avatar img {
  border-radius: 60px;
  border: 2px solid #000040;
}
ion-icon{
  font-size: 24px;
}
.imageChange {
  position: absolute;
  top: 140px;
  left: 120px;
  right: 50px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.topMargin {
  margin-top: 40px;
}

.gridWidth {
  width: 48%;
}

.focusInput {
  border-color: #000040;
}

.submitButton {
  margin-top: 40px;
  width: 95%;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: #000040;
  border-radius: 10px;
}

.submitText {
  font-size: 17px;
  color: white;
  font-family: "Poppins-Regular";
}
